/** Body **/

body {
    /*font-family: 'Maven Pro', sans-serif !important;
    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, body, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Maven Pro', sans-serif !important;*/
    /*font-family: 'Comfortaa', cursive !important;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
  }

.treeview-menu>li>a{
  /*font-size: 13px !important;*/
}

/* Analisa */
.table>tbody>tr>td.qty{
  font-size: 20px !important;
  font-weight: bold;
  color: #e4830b;
  text-align: center;
  border-top: 0px solid #ddd;
  width: 100px;
  padding-top: 15px !important;
}

.table>tbody>tr>td.produk-terlaris{
  padding-top: 20px !important;
  border-top: 0px solid #ddd;
}

.table>tbody>tr>td.qty-pelanggan{
  font-size: 20px !important;
  font-weight: bold;
  color: #e4830b;
  text-align: center;
  border-top: 0px solid #ddd;
  width: 100px;
  padding-top: 15px;
}

.table>tbody>tr>td.pelanggan-terbaik{
  padding-top: 8px;
  border-top: 0px solid #ddd;
}

.start{text-align: center;}
.start-img{margin-bottom: 10px}

.skin-blue .content-header{ 
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
  position: absolute;
  left: 0px;
  top: 30%;
  width: 100%;
  height: 85px;
  opacity: 1;
  background: url(https://app.rekap.co.id/public/images/preloader/Preloader_6.gif) center no-repeat;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999999;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: rotatee 2.0s infinite linear;
  animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: bouncee 2.0s infinite ease-in-out;
  animation: bouncee 2.0s infinite ease-in-out;
}

.dot1, .dot2 {
  background-color: #ee3733;
}

.dashboard-item{margin-bottom:2.5rem}

.dashboard-item .sales {color:#1381ad}

.dashboard-item .info-box-number{font-size: 2.4rem; font-weight: 600;}

.dashboard-item .dashboard-item-title{font-size: 1.8rem; font-weight: 700; }

.latest-order-status{width: 25px !important; height: 25px !important; margin:5px !important; background:#25d366; color:#ffffff !important}

.small-box h3 {
    font-size: 30px !important;
}

.wrapper .content-wrapper {
    background-color: #f9f9f9 !important;
}
.small, small {
    font-size: 70% !important;
}

#pesanan_mobile .form-control-feedback {
    /* To make the feedback icon visible */
    z-index: 100;
}

#filemanager .modal-header{display:none}
#filemanager .modal-body{background:#595959}

.ti{margin-right:0.625rem}

.dropdown-menu{padding:7px 0 !important}

h3.box-title{margin-top: 10px !important;}

.info-box-text{margin-top:10px}

.pagination>.active>a{
  background-color: #003366;
    border-color: #064e96;
}

.pagination>li>a{
  color: #003366;
}

.user-menu .ti{margin-right:1px !important}
table a {color: #003366 !important;}
.logo-mobile{display:none}

.box{border-radius:4px !important}

#pagination_link > .pagination{margin:0 0 10px 0;}

.input-sm, li>select2-results__option{font-size: 13px !important}

.simpan{margin-top: 15px}


/*Form Wizard*/
.bs-wizard {padding: 9px 0 10px 0;}
.bs-wizard-latest-order{padding: 5px 0 7px 0 !important;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 13px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 35px; height: 35px; display: block; background: #5fe491; top: 10px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; /*background: #fbbd19;*/ border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 5px; box-shadow: none; margin: 9px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #5fe491;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .pending > .bs-wizard-dot{background:#f5f5f5}
/*END Form Wizard*/

/* Setting */
.img-thumbnail{margin-bottom: 10px; margin-top: 10px}

/* Laporan */
.nav-tabs>li.active>a {
    background-color: #f9f9f9 !important;
}

.table>.table-header{
  border-top: 2px solid #f0f0f0;
  /*color: #ffffff;*/
  background: #f9f9f9;
}

.table>.table-header>tr>th{
  border-bottom: 2px solid #f0f0f0;
}

.table>tbody>tr>td{
  padding: 6px 8px;
  line-height: 1.2;
  font-size: 10pt !important;
  padding-top: 8px !important;
}

.ranges li {
  background-color: #ffffff;
  border: 1px solid #ffffff; 
  border-radius: 0px;
  margin-bottom: 0px;
  color: #000;
}

.ranges li:hover {
  color: #000;
}

.report-item h3{font-size: 20px}

/* Produk */
.img_thumbnail{margin-top:10px}
.upload-loading{display:none}
.stok-awal{height:25px}
.update-stok{margin-bottom:10px}

/* Top Menu */
.navbar-nav > .user-menu > .dropdown-menu{
  width: 195px !important;
  -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 7px 14px rgba(0, 0, 0, .175);
}
.dropdown-menu > li > a > .glyphicon, .dropdown-menu > li > a > .fa, .dropdown-menu > li > a > .ion{    margin-right: 3px !important;}

.modal-content{ background-color: #f9f9f9; }
.modal-title{ display: inline-block; text-align: center; }
.content-header{ padding: 20px 15px 15px 20px; }
.content-header > .breadcrumb {padding: 7px 0px;}

/* Register & Login box */
.login-title{font-size:20px; margin-bottom: 20px; text-align: center;}
/*.register-page .form-control-feedback, .login-page .form-control-feedback{ font-size: 26px; margin-top: 5px; }*/
.login-box-body, .register-box-body {
    border-radius: 3px;
    background-clip: padding-box;
    /*border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);*/
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .175);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .175);
    width: 350px !important;
    color: #333;
}

.login-box, .register-box {
  margin: 5% auto 0 !important;
}

.login-page, .register-page {
    background-color: #f1f1f1 !important;
    /*background-image: linear-gradient(100deg, #2f9bc8, #1280ac);*/
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #003366;
}

.register-logo{
    margin-bottom: 20px !important;
}

.login-logo a, .register-logo a{
  color:#fff !important;
}

.login-action{
  margin-top:10px;
}

.btn-action-login {
  height:35px;
  font-size: 15px;
  line-height: 14px;
  width: 55%;
  margin: 5px auto;
  background-color: #003366!important;
}

/* Dashboard */
.dashboard-total-grafik, .dashboard-judul-grafik{ text-align: center; display: block; }
.dashboard-judul-grafik{  }
#customer{min-height: 375px; padding: 10px}
#chart{padding: 10px}
.dashboard-menu-grafik{ font-size: 35px; text-align: center; position: absolute; right: 25px; color: black; }
.latest-order{padding: 2px 10px 19px 10px !important;}
#latest_order{min-height: 240px}
.latest-order-title{padding: 10px 10px 10px 10px !important;}
.sidebar-menu>li{font-size:14px !important;}
tspan{font-family: 'Nunito Sans', sans-serif;}
.table>tbody>tr>td.latest-order-item{padding: 15px 8px;}
.produk-laris{font-weight: bold; margin-top: 10px}
span#bulan{font-size: 12px}

/* Navigasi */
.sidebar-divider {
    border-top: 1px dotted #455a64;
    width: 88%;
    margin: .5em 1em !important;
}

/**.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #222d32 !important;
}**/

.skin-blue .main-header a.logo:hover{
  background: #1e282c;
}

.skin-blue .sidebar-menu>li.active>a { 
    background-color: #2d3541 !important;
    border-left-color: #003366 !important;
  /*background-image: linear-gradient(100deg, #2f9bc8, #1280ac);*/
}

.skin-blue .sidebar-menu>li.header {
    color: #4b646f;
    background: #23282d;
}

/*.main-sidebar{
  width: 210px !important;
}

.content-wrapper, .main-footer{
  margin-left: 210px !important;
}

.main-header .navbar{
  margin-left: 210px !important; 
}*/

.skin-blue .main-sidebar{
  background-color: #23282d;
}

.skin-blue .sidebar a{
  color: #eee;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #32373E;
}

.skin-blue .main-header .navbar {
    background-color: #23282d;
  /*background-image: linear-gradient(100deg, #2f9bc8, #1280ac);*/
}

.skin-blue .main-header .logo{
    background-color: #23282d;
  /*background-image: linear-gradient(100deg, #0070ba, #1546a0);*/
}

.box.box-primary {
    border-top-color: #036ab6;
}

.btn-primary {
    background-color: #003366;
    border-color: #003366;
    /*box-shadow: 0px 2px 0px #022950*/
}

.treeview-menu > li > a {
    padding: 7px 12px !important;
}

.treeview-menu > li:last-child  {
    padding-bottom: 5px !important;
}

/* Pesanan */
.pesanan-summary-num{ color: navy; margin-bottom: 3px; }
.pesanan-summary-desc{ margin-top: 0px; color: #555; }
.pesanan-container-list{ background-color: white; padding: 10px; border: 1px solid #ddd; margin-top: 10px; }
.pesanan-nama-barang{ border-bottom: 1px solid #ddd; margin-bottom: 8px; }
.pesanan-sudah-bayar{ color: #ffffff !important; }
.pesanan-sudah-bayar-tagihan{ padding: 15px; border-bottom: 1px dotted #ffffff; }
.pesanan-belum-bayar{ color: #fff !important; }
.pesanan-belum-bayar-tagihan{ padding: 15px; }
.pesanan-belum-bayar-btn-sudah-bayar{ padding: 10px; }
.pesanan-detail-pembayaran{ padding: 8px 0px; border-top: 1px dotted; }
.pesanan-list-option{ position: absolute; right: 20px; /*display: none;*/ z-index: 100; }
.items_unit, .item_unit{min-width: 250px; max-width: 280px}
.stok_produk{min-width: 150px; max-width: 180px}
.items_quantity, .item_quantity{min-width: 60px; max-width: 80px}
.items_discount, .item_discount{min-width: 100px; max-width: 120px}
.harga_produk{min-width: 120px; max-width: 130px}
.thumbnail{width: 100px; margin-bottom: 5px;}
.select2-result-repository__avatar{float: left;}
.select2-result-repository__meta{float: right;}
.pretty {margin-right: 0.6em !important;}
#detail{width: 100%; height: auto;}
#image{background: #fff; border-radius: 5px;}
.list-item-total{padding-right: 20px !important;}
.list-item{padding-left: 20px !important;}
#copySupplier, #copyOrder{margin-top: 10px}

/* .pesanan-container-list:hover .pesanan-list-option{ display: block; } */
table.pesanan > tbody > tr > td{border-top: 2px solid #f4f4f4 !important}
.transaksi-pending{border-radius: 100%; /*border: 1px solid #ccc;*/ color: #ccc; padding: 4px 5px; float: left; width: 35px; height:35px; text-align: center; margin: 3px; background:#eee;}
.transaksi-selesai{border-radius: 100%; /*border: 1px solid #398439;*/ color: #27ae60; padding: 4px 5px; float: left; width: 35px; height:35px; text-align: center; margin: 3px;}
.tracking-pengiriman{
    font-weight: 400;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    color: #999;
    border-bottom: dotted 1px #999;
    outline: none;
}

input[type=checkbox] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 15px;
    margin:3px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 15px;
    min-width: 16px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}

.pesanan input.check{margin-top: 3px}

.select2-container{width:100% !important;}

/*.bayar{margin-bottom:10px}*/

.pilihan{margin-bottom:10px}

.pesanan-mobile{padding: 15px}

input#persentase_diskon_mobile::-webkit-input-placeholder {
    font-size: 12px;
}

.btn-print{padding-top:8px}

@media print {
  
   @page {
        margin-top: 4mm; 
   }
  .box.box-primary {
    border-top-color: #fff !important;
  }

  .printing {visibility: visible !important; font-size: 25px !important} 

  table#label{border-top: 2px solid #000;} 

  footer {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * { 
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

  .ribbon span::before, .ribbon span::after, .ribbon { display: none}
  #label{border-left: 2px solid #000; border-right: 2px solid #000; border-bottom: 2px solid #000}
  #label>thead>tr>td, #label>thead>tr>th{padding: 8px 15px; font-size:13px;}
  table > thead > tr > th{border-bottom: 1px solid #b5b2b2}
  .pilihan-print{display:none}
  #tawkchat-minified-box, #v3N03KE-1538002585878{display: none}
  iframe{display: none !important}

  .box{border: 0px solid #e8ebf0;}
}

.form-control-sm{
    line-height: 30px;
    height: 30px;
    font-size: 13px
}

.form-control{
    border-radius:4px !important;
}

h3.print{margin-top: 10px !important; font-size: 22px !important}
#label img{margin-top: 5px}

.content-header h1{font-size: 1.7em;}
h1.unpaid{color: #dc3545!important}
h1.paid{color: #27ae60}
#detail{padding: 20px}

p.ongkir{margin-top: 10px}

.bg-danger {background-color: #e31613 !important; border-radius: 5px;}
.bg-green {border-radius: 5px;}
.bg-warning{background: #ffc107!important}
.text-dark {color: #343a40!important;}
.btn-secondary{background: #6c757d}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-success {
    color: #fff;
    background-color: #28a745 !important;
    border-color: #28a745;
}

.hapus_pesana, .print_pesanan {
    margin-top: 5px;
}

td.list-item{padding-top: 5px !important; padding-bottom: 5px !important}

.printing{visibility:hidden;}

.box-header > .box-tools{top:10px !important; left: 10px}

/*.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color: #fff !important}*/

.main-header {
    max-height: 105px !important;
}

/* Form Pesanan */
.form-pesanan-harga-tabel p{ margin: 0; }
/*.form-pesanan-tabel tfoot th:nth-child(1){ text-align: right; }*/
.form-pesanan-bank-pembayaran-opsi{ display: inline-block; border: 1px solid #ccc; padding: 10px; margin: 0 5px; cursor: pointer; }
.form-pesanan-bank-pembayaran-opsi.active{ border: 4px solid navy; }

/* Produk */
.produk-edit-hapus{ width: 50px;}
/* .produk-edit-hapus{ visibility: hidden; }
.produk-list-row:hover .produk-edit-hapus{ visibility: visible; } */
.load-more{padding:6px}
#loading_text{display:inline-block; margin-top: 10px}
.item_sku, .items_sku{min-width: 80px; max-width: 100px}
.item_berat, .items_berat{min-width: 60px; max-width: 80px}
.item_harga_beli, .items_harga_beli{min-width: 100px; max-width: 120px}
.item_harga_normal, .items_harga_normal{min-width: 100px; max-width: 120px}
.item_harga_reseller, .items_harga_reseller{min-width: 100px; max-width: 120px}
.item_warna, .items_warna{min-width: 80px; max-width: 100px}
.item_ukuran, .items_ukuran{min-width: 60px; max-width: 80px}
.nomor{min-width: 15px; max-width: 30px}
.nama_produk{min-width: 150px; max-width: 200px}
.kategori_produk{min-width: 180px; max-width: 200px}
.satuan{min-width: 80px; max-width: 100px}
.harga{min-width: 200px; max-width: 250px}
.pilihan{min-width: 60px; max-width: 80px}
.stok_awal{min-width: 80px; max-width: 100px}
.jumlah_penyesuaian{min-width: 150px; max-width: 170px}
.deskripsi{min-width: 150px; max-width: 170px}
.coret{text-decoration: line-through}

/* Laporan */
.tanggal_mutas{min-width: 120px; max-width: 130px}
.jenis_mutasi{min-width: 100px; max-width: 120px}
.referensi{min-width: 50px; max-width: 80px}
.keterangan_mutasi{min-width: 120px; max-width: 150px}
.keluar_masuk{min-width: 80px; max-width: 120px}
.kuantitas{min-width: 50px; max-width: 100px}

/* Supplier, User*/
#supplier_wrapper, #user_wrapper, #customer_wrapper{padding:10px}
#supplier_filter, #user_filter, #customer_filter{float:right; }
.action_button{ cursor: pointer; letter-spacing: 5px; font-size: 16px; color: transparent; -webkit-transition: all .2s; transition: all .2s; }
tr:hover .action_button{ color: initial; }

/** Responsive **/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
  .sidebar-menu>li, .treeview-menu > li > a {
    font-size: 15px !important;
  }
  .main-header .sidebar-toggle{
    font-size:17px;
  }
  .navbar-custom-menu .navbar-nav > li > a {
    line-height: 25px !important; 
  }
  
  #supplier_filter, #user_filter, #customer_filter{float:left; }
  
  .filter-pelanggan{float:left !important;}

  .box-header{padding-top: 20px; padding-bottom: 30px !important}
  
  .latest-order-title{padding-bottom: 10px !important}

  .search-user{width: auto !important; margin-bottom: 10px}
  .logo-mobile{display:inline; margin-top: 13px; margin-left: 35%; /*width: 95px; margin-left:10px*/}
}

@media screen and (max-width: 767px) { 
  .transaksi-pending{width: 32px; height:32px; margin-top: 10px;}
  .transaksi-selesai{width: 32px; height:32px; margin-top: 10px}
  #form_search{margin-bottom: 10px}
  .table tr td, .table tr td a{font-size:13px !important;}
  /** .produk-mobile{border:1px #ccc solid; border-radius:4px; padding:5px;}**/
  .hidden-produk{
      display:none;
  }
  .main-header .logo{line-height:47px}
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #333 !important; 
  }
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: #eee !important;
  }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 0% !important;
  }
  
  .login-box, .register-box {
    width: 93% !important;
  }
  
  .login-box-body{
  width:100% !important;
  }
  
  .main-sidebar {
    padding-top: 50px !important;
  }
  
  .fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px !important;
  }
  
  .content-header > .breadcrumb {
    background: transparent !important;
    padding-left: 0px !important;
    top: 8px !important;
  }
  
  .latest-order-status{padding: 4px 2px;}
  .latest-order-status .ti{margin-right:0px}
  .bs-wizard-latest-mobile{padding: 15px 0 10px 0 !important;}

  .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    padding: 6px 7px !important;
    height: 34px !important;
    font-size: 13px !important;
  }
}

/** Form Tambah Kategori Pelanggan **/
#kategori{margin-bottom:3px}
textarea {
    resize: none;
}
.hapusKategoriPelanggan{
  color:#337ab7;
  cursor:pointer;
}

#live_data{
  padding:10px;
  min-height: 180px;
}

/** Form Pemesanan **/
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 5px;
    padding: 5px 10px;
    height: 30px;
    font-size: 12px;
}

.nohover:hover{background:#fff}

.kiri {border-radius:0 5px 5px 0 !important}

.kanan {border-radius:5px 0 0 5px !important}

/*.input-group .input-group-addon {border-radius: 4px 0 0 5px !important}*/

.box {
   position:relative;
   border:1px solid #e8ebf0;
   float:left;
}
.ribbon {
   position: absolute;
   right: -5px; top: -5px;
   z-index: 1;
   overflow: hidden;
   width: 75px; height: 75px; 
   text-align: right;
}
.ribbon span {
   font-size: 10px;
   color: #fff; 
   text-transform: uppercase; 
   text-align: center;
   font-weight: bold; line-height: 20px;
   transform: rotate(45deg);
   width: 100px; display: block;
   background: #79A70A;
   background: linear-gradient(#9BC90D 0%, #79A70A 100%);
   box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
   position: absolute;
   top: 19px; right: -21px;
}
.ribbon span::before {
   content: '';
   position: absolute; 
   left: 0px; top: 100%;
   z-index: -1;
   border-left: 3px solid #79A70A;
   border-right: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.ribbon span::after {
   content: '';
   position: absolute; 
   right: 0%; top: 100%;
   z-index: -1;
   border-right: 3px solid #79A70A;
   border-left: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-top: 3px solid #79A70A;
}
.red span {background: linear-gradient(#F70505 0%, #8F0808 100%);}
.red span::before {border-left-color: #8F0808; border-top-color: #8F0808;}
.red span::after {border-right-color: #8F0808; border-top-color: #8F0808;}

.blue span {background: linear-gradient(#2989d8 0%, #1e5799 100%);}
.blue span::before {border-left-color: #1e5799; border-top-color: #1e5799;}
.blue span::after {border-right-color: #1e5799; border-top-color: #1e5799;}

.search-user{margin-bottom: 10px}

.btn-act-grp a{margin-right: 5px}
.btn-act-grp a i{font-size: 20px}
